_*

vcpkg_installed/
vcpkg/

src/jit_*.h
include/ioctl_constants.h
include/errno_constants.h
include/keywords.h

obj/
dtoa/*.o
libco/*.o
libmd/*.a
libmd/build/
nsync/out/

compile_commands.json

ty
tyls
typrof

*.log
*.err

.*
!.gitignore
