_*
vcpkg_installed/
vcpkg/
obj/
src/jit_*.h
include/ioctl_constants.h
include/errno_constants.h
include/keywords.h
dtoa/*.o
libco/*.o
libmd/*.a
libmd/build/
nsync/out/

ty
tyls
typrof

*.log
*.err
.*
!.gitignore
